img {
    width: 500px;
}


.validation-input {
    border: 3px solid #bdbdbd;
    
  }
  
  .valid {
    border: 3px solid #4caf50;
    /* border-color: #4caf50; */

  }
  
  .invalid {
    border: 3px solid #f44336;
    /* border-color: #f44336; */
  }

  /* .fontSize {
font-size: 14px;
  } */